- if user_signed_in?
	%p#intro
		Hello,
		= current_user.name
		%br/
		%span
			Share your idea and see what's others are thinking.
- else
	%p#intro
		What's your idea?
		%br/
		%span
			Share your idea and see what others are thinking.
#posts
	- @ideas.each do |idea|
		.post
			.post_image
				= link_to (image_tag idea.image.url(:small)), idea
			.post_content
				.title
					%h2= link_to idea.title, idea
				.data.clearfix
					%p.username
						= idea.user.name
					%p.buttons
						%span
							%i.fa.fa-comments-o
							= idea.comments.count
						%span
							%i.fa.fa-thumbs-o-up
							= idea.get_likes.size
