- @ideas.each do |idea|
	= link_to (image_tag idea.image.url(:small))
	%h2= link_to idea.title, idea
	%p
		= idea.comments.count
		Comments
	%p
		= idea.get_likes.size
		Likes

= link_to "Add Idea", new_idea_path