#posts
	- @ideas.each do |idea|
		.post
			.post_image
				= link_to (image_tag idea.image.url(:small)), idea
			.post_content
				.title
					%h2= link_to idea.title, idea
				.data.clearfix
					%p.username
						= idea.user.name
					%p.buttons
						%span
							%i.fa.fa-comments-o
							= idea.comments.count
						%span
							%i.fa.fa-thumbs-o-up
							= idea.get_likes.size
