= image_tag @idea.image.url(:medium)
%h1= @idea.title
%p= @idea.link
%p= @idea.description
%p= @idea.user.name
%p
	= @idea.get_upvotes.size
	Likes
%p
	= @idea.get_downvotes.size
	Dislikes
= link_to "Like", like_idea_path(@idea), method: :get
= link_to "Dislike", dislike_idea_path(@idea), method: :get

#comment
	%h2.comment_count= pluralize(@idea.comments.count, "Comment")
	- @comments.each do |comment|
		.comment
			%p.username= comment.user.name
			%p.content= comment.content

	= render 'comments/form'

= link_to "Edit", edit_idea_path(@idea)
= link_to "Destroy", idea_path(@idea), method: :delete, data: { confirm: "Are you sure?" }
= link_to "Home", root_path