.session-wrapper
	#post_show
		%h1= @idea.title
		%p.username
			Shared by
			= @idea.user.name
			about
			= time_ago_in_words(@idea.created_at)
		.clearfix
			.post_image_description
				= image_tag @idea.image.url(:medium)
				.description= simple_format(@idea.description)
				Category:
				= @idea.category
			.post_data
				= link_to "Visit Link", @idea.link, class: "button"
				= link_to like_idea_path(@idea), method: :get, class: "data" do
					%i.fa.fa-thumbs-o-up
					= pluralize(@idea.get_upvotes.size, "Like")
				= link_to dislike_idea_path(@idea), method: :get, class: "data" do
					%i.fa.fa-thumbs-o-down
					= pluralize(@idea.get_downvotes.size, "Dislike")
				%p.data
					%i.fa.fa-comments-o
					= pluralize(@idea.comments.count, "Comment")
				- if @idea.user == current_user
					= link_to "Edit", edit_idea_path(@idea), class: "data"
					= link_to "Delete", idea_path(@idea), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
			#random_post
				%h3 Like what you see? Check out other people's idea!
				.post
					.post_image
						= link_to (image_tag @random_idea.image.url(:medium)), idea_path(@random_idea)
					.post_content
						.title
							%h2= link_to @random_idea.title, idea_path(@random_idea)
						.data.clearfix
							%p.username
								Shared by
								= @random_idea.user.name
							%p.buttons
								%span
									%i.fa.fa-comments-o
									= @random_idea.comments.count
								%span
									%i.fa.fa-thumbs-o-up
									= @random_idea.get_likes.size

	#comments
		%h1.comment_count= pluralize(@idea.comments.count, "Comment")
		- @comments.each do |comment|
			.comment
				%p.username= comment.user.name
				%p.date= l(comment.created_at, format: '%B, %d %Y, %H:%M')
				%p.content= comment.content

		= render "comments/form"
