.mailbox-wrapper
  .row
    .spacer
    .col-md-12
      = link_to "Compose", new_conversation_path, class: "btn btn-success"
      = link_to "Inbox", mailbox_inbox_path, class: "btn"
      = link_to "Sent", mailbox_sent_path, class: "btn"
      = link_to "Trash", mailbox_trash_path, class: "btn"
      .spacer
    -# .col-md-4
    -#   .panel.panel-default
    -#     .panel-body
    -#       = render 'mailbox/folders'
    .col-md-12
      .panel.panel-default
        .panel-body
          - if is_conversation
            = render 'conversations/form'
          - else
            = render partial: 'conversations/conversation', collection: messages
